name: Checks

on:
  workflow_dispatch:
  push:
    branches:
      - main

  pull_request_target:

  permissions:
    contents: read
    checks: write
    actions: read

jobs:
  jvm-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Verify SqlDelight Migration
        run: ./gradlew verifySqlDelightMigration

      - name: Build and publish
        run: ./gradlew jvmTest

      - name: JUnit Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          check_name: JVM Test Results
          report_paths: '**/build/test-results/jvmTest/**/*.xml'
          require_tests: true

  run-android-tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Setup Java JDK
        uses: actions/setup-java@v4
        with:
          distribution: 'zulu'
          java-version: '21'
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v4

      - name: Enable KVM group perms
        run: |
          echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
          sudo udevadm control --reload-rules
          sudo udevadm trigger --name-match=kvm

      - name: Run Android Integration Tests
        run: ./gradlew allDevicesDebugAndroidTest -Pandroid.testoptions.manageddevices.emulator.gpu=swiftshader_indirect

      - name: JUnit Report
        uses: mikepenz/action-junit-report@v4
        if: always()
        with:
          check_name: Android Test Results
          report_paths: '**/build/outputs/androidTest-results/**/*.xml'
          require_tests: true

